body{
    background-color: rgb(114, 107, 93);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;

}

h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);

}

h2{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 15px;

}

p{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 20px;
    color: rgb(255, 255, 255);
   

}

.galeria{
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las imágenes */
    padding-top: 50px;
}



.enlaces{
    display: flex;
    justify-content: center;
  
    

}

.container {
  display: flex;
  gap: 20px; /* separa la imagen del vídeo */
  align-items: flex-start;
  position: relative;
}

.inicio{
    display: block;
    position: absolute;
    text-align: right;
    font-size: 20px;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    gap: 10px;
}

.navv{
    display: block;
    position: center;
    text-align: center;
    font-size: 25px;
    color: rgb(240, 115, 115);
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(12, 34, 0);
    padding: 10px;
}






.img-ac{
  border: none;
}

.img-elec{
  display: flex block;
  justify-content: center; /* Centra la imagen horizontalmente */
  border: none;
  font-size: 40px
  margin-top: 20px;
}


img {
    width: auto;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
}



.detalles{
    display: flex;
    position: center;
    justify-content: center ; 
    gap: 20px; /* separa la imagen del vídeo */
    
  
}




.AC{
  color: rgb(0, 0, 0);
}