img {
    width: auto;
    height: 300px;
    border: 3px solid black;
}


body{
    background-image: url(https://wallpapers.com/images/featured/fondos-de-paisajes-naturales-k9tfch0hpfjbaxel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;

}



.galeria{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

h1{
    display: flex;
    justify-content: center;
    

}

.enlaces{
    display: flex;
    justify-content: center;
  
    

}

.botones{
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(109, 58, 0);
    color: white;
    text-decoration: none;
   

}

h2{
    display: flex;
    justify-content: center;

}

.AZW{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred
  


    

}

p{
   

}