body{
    background-color: rgb(114, 13, 0);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;

}

h2{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 15px;

}

p{
    display: flex;
    text-justify: center;
    padding-right: 250px;
    padding-left: 250px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
    ;

   

}

.galeria{
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las imágenes */
    padding-top: 50px;
}



.enlaces{
    display: flex;
    justify-content: center;
  
    

}

.container {
  display: flex;
  gap: 20px; /* separa la imagen del vídeo */
  align-items: flex-start;
  position: relative;
}

.inicio{
    display: block;
    position: absolute;
    text-align: right;
    font-size: 20px;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    gap: 10px;
}

.navv{
    display: block;
    position: center;
    text-align: center;
    font-size: 25px;
    color: rgb(240, 115, 115);
    font-weight: bold;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}






.img-ac{
  border: none;
  font-size: 50px;
}

.img-elec{
  display: flex block;
  justify-content: center; /* Centra la imagen horizontalmente */
  font-size: 40px;
  background-color: none;
  

}


img {
    width: auto;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
}

.AC{
  color: rgb(0, 0, 0);
}

.perguitar{
    display: flex;
    justify-content: space-around;
    position: center;
    gap: 50px;
    padding-left: 10px;
    padding-right: 10px; 
    



}