img {
    width: auto;
    height: 300px;
    border: 3px solid black;
}

nav{
   

}

body{
    background-color: blanchedalmond;
}


.galeria{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

h1{
    display: flex;
    justify-content: center;
    

}

.enlaces{
    display: flex;
    justify-content: center;
  
    

}

.botones{
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(109, 58, 0);
    color: white;
    text-decoration: none;
   

}

h2{
    display: flex;
    justify-content: center;

}

.AZW{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred
  


    

}